<!DOCTYPE html>
<html>
   <body>
      <form action = "http://localhost:5000/add-recycling-data" method = "POST">
         <p>teacher <input type ="text" name = "teacher" /></p>
         <p>aluminum <input type = "number" name = "aluminum" /></p>
         <p>batteries <input type = "number" name = "batteries" /></p>
         <p>bottles <input type = "number" name = "bottles" /></p>
         <p>cans <input type ="number" name = "cans" /></p>
         <p>cardboard <input type ="number" name = "cardboard" /></p>
         <p>computer_parts <input type ="number" name = "computer_parts" /></p>
         <p>glass <input type ="number" name = "glass" /></p>
         <p>paper <input type ="number" name = "paper" /></p>
         <p>textiles <input type ="number" name = "textiles" /></p>
         <p>wood <input type ="number" name = "wood" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>